.setting-inner {
  width: 1150px;
  margin: 0 auto;
  padding-top: 32px;

  .setting-form {
    width: 40%;

    .setting-section {
      margin-top: 16px;

      .setting-title {
        font-weight: 500;
        margin-bottom: 8px;
      }
    }
  }
}
