:root {
  --main-color: rgb(0, 145, 255);
  --text-color: #11181c;
  --text-color-G500: #555555;
  --primary-color: #ffe4b5;
  --primary-color-bold: #eba05f;
  --primary-color-light: rgba(255, 228, 181, 0.4);

  --bg-body: rgb(248, 249, 250);
  --bg-white: #fff;
  --bg-body: #fafafa;
  --border-color: #e2e2e2;

  --height-header: 56px;
  --height-nav: 48px;
  --width-inner-header: 60%;
  --width-inner-header-tablet: 85%;
  --width-inner-header-mobile: 95%;

  --box-shadow: 0 0 3px #eceef0;
  --font-family: "Montserrat", sans-serif;
}
