:root {
  --main-color: rgb(0, 145, 255);
  --text-color: #11181c;
  --text-color-G500: #555555;
  --primary-color: rgb(119, 136, 153);
  --primary-color-bold: rgb(112, 128, 144);
  --primary-color-light: rgb(220, 220, 220);
  --red-color: #ee6363;

  --bg-body: rgb(248, 249, 250);
  --bg-white: #fff;
  --bg-body: #fafafa;
  --border-color: #e2e2e2;

  --height-header: 56px;
  --height-nav: 48px;
  --width-inner: 60%;
  --width-inner-tablet: 85%;
  --width-inner-mobile: 95%;
  --height-post-image-pc: 600px;
  --height-post-image-mobile: 500px;
  --height-detail-post-image: 500px;

  --width-inner: 60%;
  --width-inner-tablet: 85%;
  --width-inner-mobile: 95%;

  --box-shadow: 0 0 3px #eceef0;
  --font-family: "Montserrat", sans-serif;
}
