.wrapper-nav {
  height: 100vh;

  @media (max-width: 768px) {
    width: 0;
  }
}

.nav-inner {
  position: fixed;
  bottom: 0;
  left: 0;
  top: var(--height-header);

  @media (max-width: 768px) {
    display: none;
  }
}

.nav-inner-mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    padding: 0 12px;
    gap: 12px;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--height-nav);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-white);
    border-top: 1px solid var(--border-color);
    z-index: 999;
  }

  .nav-item-mobile {
    font-size: 19px;
    display: flex;
    align-items: center;
  }
}

.nav-item {
  font-size: 16px;
  height: unset;
  min-height: 40px;
  padding: 24px;
  font-weight: 500;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  svg {
    font-size: 16px;
  }
}

.nav-item-mobile.active {
  svg {
    path {
      color: var(--primary-color-bold);
    }
  }
}
