.wrapper-button {
  font-size: 15px;
  background-color: #f3f3f3;
  color: var(--text-color);
  border-radius: 5px;
  padding: 6px 12px;
  height: unset;
}

.primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  font-weight: 500;
  color: #fff;
}

.text {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.danger {
  background-color: var(--red-color) !important;
}

.disabled {
  background-color: #c3c3c3 !important;
  pointer-events: none;
  border: none;
}
