.wrapper-home {
  padding-top: 24px;
  margin: 0 auto;
  width: 650px;

  @media (max-width: 768px) {
    width: var(--width-inner-mobile);
    padding-top: 18px;
  }

  .home-posts {
    margin-top: 24px;
  }
}
