.wrapper-about {
  padding: 12px;
  border-radius: 12px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);

  .ant-tabs .ant-tabs-ink-bar {
    background-color: var(--primary-color);
  }

  .profile-about-title {
    font-size: 18px;
    font-weight: 600;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
  }

  .wrapper-about-born {
    .ant-collapse-item > .ant-collapse-header {
      padding: 6px 16px;
    }
  }
}
