.wrapper-about {
  padding: 12px;
  border-radius: 12px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);

  .ant-tabs .ant-tabs-ink-bar {
    background-color: var(--primary-color);
  }

  .profile-about-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .wrapper-about-born {
    .about-born-current-life {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
