.friend-content {
  margin-top: 24px;
  .ant-tabs .ant-tabs-ink-bar {
    background-color: var(--primary-color);
  }

  .tab-friend-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }

  .tab-friend-item {
    border: 1px solid #eaeaea;
    padding: 6px 12px;
    border-radius: 12px;
  }
}
