.wrapper-post {
  border: 1px solid var(--border-color);
  background-color: var(--bg-white);
  margin-bottom: 24px;
  box-shadow: var(--box-shadow);

  .post-images {
    height: 500px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .post-info {
    padding: 16px;

    .post-author {
      display: flex;
      align-content: flex-start;
      gap: 8px;
      margin-bottom: 12px;

      .post-author-avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
      }

      .post-author-name {
        font-size: 15px;
        font-weight: 600;
        line-height: 1;
      }

      .post-createdAt {
        font-size: 12px;
      }
    }

    .post-title {
      font-size: 14px;
      text-align: justify;
    }

    .post-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .post-actions-left {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }

    .post-interact {
      display: flex;
      margin-top: 12px;
      justify-content: space-between;

      .post-quantity-like {
        font-size: 15px;
        font-weight: 500;
      }

      .post-quantity-comment {
        font-size: 15px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .like-active {
    animation: scale 0.2s linear;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

.post-options {
  .post-options_item {
    display: block;
    width: 100%;
    border-radius: 0;
    padding: 12px;
    border-bottom: 1px solid var(--border-color) !important;
    span {
      font-size: 15px;
    }
  }

  .post-options_item--danger {
    span {
      font-size: 15px;
      color: red;
      font-weight: 500;
    }
  }
}
