.wrapper-bar-user {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;

  .bar-user-name {
    font-size: 15px;
    font-weight: 600;
  }

  .bar-user-mutual-friends {
    font-size: 13px;
  }
}

.popover-bar-user {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;

  .popover-bar-user-name {
    font-size: 20px;
    font-weight: 600;
  }

  .popover-bar-user-btn {
    flex: 1;
  }
}
